# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore build directories
dist/
build/

# Ignore environment variable files
.env

# Ignore macOS system files
.DS_Store

# Ignore Visual Studio Code settings
.vscode/

# Ignore compiled files
*.o
*.obj
*.dll
*.exe
*.out
*.class

# Ignore coverage reports
coverage/

python-onnx/*.onnx
python-onnx/*.pth

dotnet-onnx/obj
dotnet-onnx/bin

react-onnx/node_modules
react-onnx/build
react-onnx/.env
react-onnx/.DS_Store
react-onnx/.vscode
react-onnx/dist